<header class="navbar">
  <div class="logo">
    <img src="../../../../static/img/SANTAGO-DEL-ESTERO-2022.svg" alt="Logo Santiago del Estero">
  </div>
  <h1 class="title">ID Cultural</h1>
  <nav class="animate__animated animate__fadeInDown">
    <ul>
      <li><a class="menu" href="/Index.html" class="menu">
        <i data-lucide="house"></i> Inicio
      </a>
    </li>
      <li><a class="menu" href="/src/views/pages/public/wiki.html">Wiki de artistas</a></li>
      <li><a class="menu" href="/src/views/pages/auth/login.html">Iniciar Sesion</a></li>
      <li><a class="btn" href="/src/views/pages/auth/registro.html">Crear cuenta</a></li>
    </ul>
  </nav>
</header>
